/* controls main structure of the page */    
      body {
      /* Control Font */
      font-family: 'Arial', sans-serif;
      color: #fff;
      font-size: 14px;
      
      /* Control Line spacing */
      line-height: 1.2;
      
      /* Set Background Image*/
      background-image : url("source_images/rek_coast.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      
      /* Set background colour (when image not avaialble)*/
      background-color: #171314;
    }

/* Setting for all headers*/
    header {
      /* Set default parameters for all headers*/
      background: #333;
      padding: 1.5rem 0;
      padding-top: 4rem;
      border-radius: 25px; 
      
      /* Text settings*/
      font-family: 'Arial', sans-serif;
      color: #fff;      
      text-align: center;
    }

    header h1 {
      /* controls the font in the primary header */
      font-size: 2rem;
      text-decoration: none;
    }

    header h2 {
      /* controls the font in the secondary header */
      font-size: 1.2rem;
      color: #d5d5d5;
      text-decoration: none;
    }


/* Navigation bar */
    nav {
      display: flex;
      justify-content: center;
      background: #646161;
      flex-wrap: wrap;
      
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100; /* keeps it on top of other content */
    }

    nav a {
      color: #fff;
      padding: 1rem;
      text-decoration: none;
    }

    nav a:hover, .droptn:hover{
      background-color: #0d61da;
    }

    .nav_bar_button {
      background-color: #646161;
      color: #fff;
      display: inline-block;
      font-size: 14px;
    }

    /* Changes the nav  bar on small screens to be 
     * horizonal rather the vertical */
    @media (max-width: 720px) {
      nav {
        flex-direction: column;
        align-items: flex-start;
      }
      
      .drowpdown-content{
        flex-direction: column;
      }
      
      header {
        padding-top: 280px; 
      }
    }
  

/* Containers, Sections, lists, and more */
    div.container {
      max-width: 960px;
      margin: auto;
      padding: 2rem;
      /* rounded borders on image*/
    }

    section {
      margin-bottom: 1rem;
      background-color: #215684;
      padding: 1rem;
      border-radius: 10px; 
    }

    section.section_head{
      margin-top: 4rem;
      padding: none;
    }
  
    img.profile_pic {
      width: 40%;
      max-width: 300px;
    }

    li {
          margin-bottom: 10px;
    }
    
    img.logo {   float: right;
                /*max-width: 720px; */
                max-height: 132px;
    }
    

/* Dropdowns*/

div {
      padding: 0.5rem;  
      padding-top: 0;  
}

button {
  text-align: center;
}

button:hover {
  background: #555;
}

.drowpdown-content {
  display: none;
  position: absolute;
  background-color: #447bff;
  /* padding: 0.5rem;*/
  top: 100%;
  left: 0;
  z-index: 1000; /*  */ 
}

/* Locks the position of drop down menu to appear beside the button*/
.dropdown {
  position: relative;
  text-align: left; 
}

/* Enables Hover Feature*/
.dropdown:hover .drowpdown-content {
  display: block;
}

/* Style of each item in a dropdown box*/
.drowpdown-content a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

/* Style of individual dropdown box*/
.droptn {
  background-color: #646161;
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* Improves Performance on Mobile Apps*/
@media (max-width: 600px) {
  .dropdown-content {
    position: static;
    }
}


/* Table*/
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td.grade {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #6b6b6b;
}
tr:nth-child(odd) {
  background-color: #6badff;
  color: #ffffff;
}


/* Footer settings */
    footer {
      /* Text settings*/
      text-align: center;
      color: #fff;
      bottom: 0;
      
      /*Box settings*/
      background: #333;
      padding: 0.5rem;
      border-radius: 10px; 
    }
